{% extends 'base.html' %} {% block content %}
<h1>Question Detail</h1>
<div>
  <div>
    <div>
      <h1>{{ question.title }}</h1>
      <h4>{{ question.created_at }}</h4>
      <p>{{ question.content }}</p>
      <a href="{% url 'update_question' question.id %}">Update</a>
      <a href="{% url 'delete_question' question.id %}">Delete</a>
    </div>
    <div>
      <form action="{% url 'add_answer' user.id question.id %}" method="post">
        {% csrf_token %} {{answer_form.as_p}}
        <input type="submit" value="Add a Answer" class="btn" />
      </form>
    </div>
    <div>
  {% if question.answer_set.count %} {% for question_answer in question.answer_set.all %}
  <span>{{question_answer.created_at}}</span>
  <h4>{{question_answer.answer}}</h4>
  {% endfor %} {% endif %}
</div>
  </div>
</div>
{% endblock %}
