{% extends 'base.html' %} {% block content %}
<h1>Question Detail</h1>
<div>
  <div>
    <div>
      <h1>{{ question.title }}</h1>
      <h4>{{ question.created_at }}</h4>
      <p>{{ question.content }}</p>
      <a href="{% url 'update_question' question.id %}">Update</a>
      <a href="{% url 'delete_question' question.id %}">Delete</a>
    </div>
    <div>
      <form action="#" method="post">
        {% csrf_token %} {{answer_form.as_p}}
        <input type="submit" value="Add a Answer" class="btn" />
      </form>
    </div>
  </div>
</div>
{% endblock %}
