{% extends 'base.html' %} {% block content %}
<img src="/static/images/image2.png" alt="" class="image-banner">

<div class="community-page">

<div class="community-form">
  <form action="{% url 'add_question' user.id %}" method="post">
    <h3>Add Your Question</h3>
    {% csrf_token %} {{ question_form.as_p }}
    <button type="submit">Add a Question</button>
  </form>
</div>

<h1>Question List</h1>
{% for question in questions %}
<div class="question-card">
  <a href="{% url 'question_detail' question.id %}">
    <div>
      <div>
        <h1>{{ question.title }}</h1>
        <h4>{{ question.created_at }}</h4>
      </div>
    </div>
  </a>
</div>
{% endfor %}
</div>
{% endblock %}
