{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <title>Room Pickr</title>

  </head>
  <body>
    <header>
      <nav class="nav-bar">
        <div class="nav-div">


           {% if user.is_authenticated %}

            <a href="{% url 'home'%}" class="logo">&nbsp;&nbsp;roompickr</a>

            <a href ="{%url 'about'%}" class="about-pg">About</a>
            <a href="{%url 'profile'%}" class="profile-pg">Profile</a>
            <a href="{% url 'space_all' %}" class="space-pg">All Spaces</a>
            <a href="{% url 'questions' %}" class="community-pg">Community</a>
            <a href="{% url 'contact_us' %}" class="contact-pg">Contact us</a>

              <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn-logout">Logout</button>
              </form>

          {% else %}

            <a href="{% url 'login' %}" class="login-pg">Login</a>
            <a href="{% url 'signup' %}" class="signup-pg">Signup</a>

          {% endif %}

        </div>
      </nav>
    </header>
    <main>{%block content%} {%endblock%}</main>

    <footer >
      <div>
        ALL Right Reserved, &copy; 2025 roompickr &nbsp
      </div>
    </footer>
  </body>
</html>
