{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <title>Room Pickr</title>

  </head>
  <body>
    <header>
  <nav class="navbar">
    <div class="navbar-container">

      {% if user.is_authenticated %}

      <a href="{% url 'home'%}"><img src="/static/images/logo.png" alt="website-logo" class="nav-logo"/></a>

      <div class="nav-links">
        <a href="{% url 'home' %}" class="nav-item">Home</a>
        <a href="{% url 'about' %}" class="nav-item">About</a>
        <a href="{% url 'profile' %}" class="nav-item">Profile</a>
        <a href="{% url 'space_all' %}" class="nav-item">All Spaces</a>
        <a href="{% url 'questions' %}" class="nav-item">Community</a>
        <a href="{% url 'contact_us' %}" class="nav-item">Contact</a>
      </div>

      <form action="{% url 'logout' %}" method="post" class="logout-form">
        {% csrf_token %}
        <button type="submit" class="btn-logout">Logout</button>
      </form>

      {% else %}

      <a href="{% url 'home'%}"><img src="/static/images/logo.png" alt="website-logo" class="nav-logo"/></a>

      <div class="nav-links">
        <a href="{% url 'login' %}" class="nav-item">Login</a>
        <a href="{% url 'signup' %}" class="nav-item">Signup</a>
      </div>

      {% endif %}

    </div>
  </nav>
</header>

    <main>{%block content%} {%endblock%}</main>

    <footer >
      <div>
        ALL Right Reserved, &copy; 2025 roompickr &nbsp
      </div>
    </footer>
  </body>
</html>

<script>
  const navLinks = document.querySelectorAll('.nav-item');

  navLinks.forEach(link => {
    if(link.href === window.location.href){
      link.classList.add('current');
    }
  });
</script>
