{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Room Pickr</title>

  </head>
  <body>
    <header>
      <nav>
        <div>
          <ul>

           {% if user.is_authenticated %}
            <li>
              <a href="{% url 'home'%}">&nbsp;&nbsp;roompickr</a>
            </li>
            <li><a href="{%url 'about'%}">About</a></li>
            <li><a href="{%url 'profile'%}">Profile</a></li>
            <li><a href="{% url 'space_all' %}">View All Spaces</a></li>
            {% if user.is_superuser %}
            <li><a href="{% url 'your_spaces' %}">View Your Spaces</a></li>
            <li><a href="{% url 'spaces_create' %}">Add a Space</a></li>
            {% endif %}
            <li><a href="{% url 'questions' %}">Community</a></li>
            <li>
              <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
              </form>
            </li>
          {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">Signup</a></li>
          {% endif %}

          </ul>
        </div>
      </nav>
    </header>
    <main>{%block content%} {%endblock%}</main>

    <footer >
      <div>
        ALL Right Reserved, &copy; 2025 roompickr &nbsp
      </div>
    </footer>
  </body>
</html>
