{% extends 'base.html'%}

{% block content %}
<h1>Welcome To Room picker</h1>
<h3>Find the perfect space for any purpose, Find your space feel At Home </h3>

 <h3>What We Offer</h3>

 <li>Book a Space</li>
 <p>Browse unique, flexible spaces that suit your needs — from creative studios to cozy meeting rooms</p>
 <li>Connect with users</li>
 <p>Message space owners directly to ask questions, confirm details, or make special requests.</p>
 <li>List Your Space</li>
 <p>Have a space to share? We make it easy to get started. Reach out and we'll help you list it.</p>


 <h3>Why Room Picker?</h3>
<p>We believe booking a space should be simple, welcoming, and tailored to you. Our platform is built to be inclusive, intuitive, and beautifully designed — so you can focus on what matters most.
</p>

<h3>Join the Movement</h3>
<p>Whether you're looking for a space or offering one, Room Picker is here to make the connection simple and meaningful.<br>
Ready to get started? <a href="{% url 'space_all' %}"> Explore All Spaces </a> or <a href="{% url 'spaces_create' %}">Add your Space</a>
</p>

{%endblock%}

