{% extends 'base.html' %}

{% block content %}
<div class="login-wrapper">
  <h1>Sign Up</h1>

  <form action="{% url 'signup' %}" method="post" class="login-form">
    {% csrf_token %}

    <div class="form-group">
      <label class="label-reg">Username</label>
      <i class="fi fi-ss-user"></i>
      {{ form.username }}
    </div>
    <span class="help-text">{{ form.username.help_text }}</span>

    <div class="form-group">
      <label class="label-reg">Password</label>
      <i class="fi fi-ss-lock"></i>
      {{ form.password1 }}
    </div>

    <div class="form-group">
      <label class="label-reg">Confirm Password</label>
      <i class="fi fi-ss-lock"></i>
      {{ form.password2 }}
    </div>
    <span class="help-text">{{ form.password2.help_text }}</span>

    <input type="submit" value="Sign Up" class="btn-login">
  </form>
</div>
{% endblock %}
