/* ========================= GLOBAL ========================= */

html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background: #FFFAF4;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding: 20px 30px;
  box-sizing: border-box;
}

/* ========================= NAVBAR ========================= */

.navbar {
  width: 100%;
  background: #2F7693;
  padding: 12px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}

/* LOGO */
.nav-logo {
  width: 75px;
}

/* CENTER LINKS */
.nav-links {
  display: flex;
  gap: 20px;
}

.nav-item {
  color: #ecf0f1;
  font-size: 16px;
  text-decoration: none;
  text-transform: capitalize;
  position: relative;
  padding: 8px 16px;
  border-radius: 6px;
  transition: 0.3s ease;
}

/* Hover effect as square background */
.nav-item:hover {
    background-color: #C4D7E0;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-weight: 600;
    color: black;
}

.nav-item.current {
    background-color: #C4D7E0;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-weight: 600;
    color: black;
}

/* LOGOUT */
.logout-form {
  margin: 0;
}

.btn-logout {
  background: #e74c3c;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-logout:hover {
  background: #c0392b;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* FOOTER */
footer {
  background: #2F7693;
  padding: 20px 0;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}
th,
td {
  padding: 0.75rem;
  border: 1px solid #836363;
  text-align: left;
}
thead {
  background-color: #836363;
}
section {
  padding: 2rem;
  background-color: #b97272;
}
