.nav-bar {
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: 50px;
  background-color: #34495e;
  font-size: 0;
}
.nav-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  position: relative;
  padding: 0 20px;
}
.nav-div a,
.nav-div .btn-logout {
  line-height: 50px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
  transition: all .5s ease 0s;
  padding: 0 15px;
}
.logo {
  font-weight: bold;
  margin-right: auto;
}
.about-pg,
.profile-pg,
.space-pg,
.community-pg,
.contact-pg,
.login-pg,
.signup-pg {
  margin: 0 20px;
}
.btn-logout {
  margin-left: auto;
  padding: 0 20px;
}
.nav-div form {
  display: inline-block;
  margin: 0;
  margin-left: auto;
}
.logo:hover {
  background-color: #1abc9c;
}
.about-pg:hover {
  background-color: #e74c3c;
}
.profile-pg:hover {
  background-color: #3498db;
}
.space-pg:hover {
  background-color: #9b59b6;
}
.community-pg:hover {
  background-color: #e67e22;
}
.contact-pg:hover {
  background-color: #1abc9c;
}
.login-pg:hover {
  background-color: #e74c3c;
}
.signup-pg:hover {
  background-color: #3498db;
}
.btn-logout:hover {
  background-color: #e67e22;
}
body {
  font-size: 12px;
  font-family: sans-serif;
  background: #E3E9EE;
  margin: 0;
  padding: 0;
}
header {
  background: #34495e;
  padding: 27px 0;
}
main {
  min-height: calc(100vh - 150px);
}
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #ecf0f1;
  font-family: 'Cherry Swash', cursive;
  font-size: 16px;
  padding: 20px 0;
  background: #2c3e50;
}
footer div {
  color: #2BD6B4;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}
th, td {
  padding: 0.75rem;
  border: 1px solid #836363;
  text-align: left;
}
thead {
  background-color: #836363;
}
section {
  padding: 2rem;
  background-color: #b97272;
}
