table {
  width : 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}
th, td {
  padding: 0.75rem;
  border: 1px solid #c99a9a;
  text-align: left;
}

thead {
  background-color: #a27272;
}

section#support-team {
  padding: 2rem;
  background-color: #fafafa;
}
