table {
  width : 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}
th, td {
  padding: 0.75rem;
  border: 1px solid #836363;
  text-align: left;
}

thead {
  background-color: #836363;
}

section#support-team {
  padding: 2rem;
  background-color: #b97272;
}
