{% extends 'base.html' %}

{% block content %}

<h1 class="detail-booking-title">Booking Details for {{ booking.space.name }}</h1>

<table class="detail-booking-table">
  <tr>
    <th>Start At</th>
    <td>{{ booking.start }}</td>
  </tr>
  <tr>
    <th>Ends At</th>
    <td>{{ booking.end }}</td>
  </tr>
  <tr>
    <th>Total Price</th>
    <td>{{ booking.total_price }} BHD</td>
  </tr>
  <tr>
    <th>Invoice</th>
    <td><a href="{% url 'invoice_booking' booking.id %}" class="detail-booking-invoice">Export Invoice</a></td>
  </tr>
  <tr>
    <th>Delete</th>
    <td><a href="{% url 'delete_booking' booking.id %}" class="detail-booking-delete">Delete Booking</a></td>
  </tr>
</table>

{% endblock %}
