{% extends 'base.html' %}

{% block content %}

<div class="detail-booking-card">
  <h2>Booking Details for <span>{{ booking.space.name }}</span></h2>

  <div class="detail-row">
    <span class="label">Start At:</span>
    <span class="value">{{ booking.start }}</span>
  </div>

  <div class="detail-row">
    <span class="label">Ends At:</span>
    <span class="value">{{ booking.end }}</span>
  </div>

  <div class="detail-row">
    <span class="label">Total Price:</span>
    <span class="value">{{ booking.total_price }} BHD</span>
  </div>

  <div class="booking-actions">
    <a href="{% url 'invoice_booking' booking.id %}" class="booking-btn export">Export Invoice</a>
    <a href="{% url 'delete_booking' booking.id %}" class="booking-btn delete">Delete Booking</a>
  </div>
</div>

{% endblock %}
