{% extends 'base.html' %}
{% block content %}

<div class="community-page">
<div class="delete-box">


<div class="warning">
  <strong>Warning:</strong> Deleting this question will also permanently remove all associated answer
</div>



<div class="delete-box">
  <h1>Delete Space</h1>
  <h4>
    Are you sure you want to delete
    <span>{{ question.title }}</span>?
  </h4>

  <form action="" method="post">
    {% csrf_token %}
    <input type="submit" value="Yes - Delete!" class="btn delete-btn"/>
    <a href="{% url 'question_detail' question.id %}" class="btn cancel-btn">Cancel</a>
  </form>
</div>
</div>
</div>
{% endblock %}
