{% extends 'base.html' %}
{% block content %}
<h1>Space Details</h1>
<div>
  <div>
    <div>
        <h4><span style="font-size: 28px;">{{ space.name }}</span></h4>
        <h4><strong>Address:</strong> {{ space.address }}</h4>
        <h4><strong>Capacity:</strong> {{space.capacity}}</h4>
        <h4><strong>Type:</strong> {{space.get_type_display}}</h4>
        <h4><strong>Price Per Hour:</strong> {{space.price_per_hour}}</h4>
      <div>
        <a href="{% url 'spaces_update' space.id %}">Edit</a>
        <a href="{% url 'spaces_delete' space.id %}">Delete</a>
      </div>
    </div>
  </div>
</div>
<div>
  <form action="{% url ''%}"></form>
</div>
{% endblock %}
