{% extends 'base.html' %}
{% block content %}
<h1>Space List</h1>
<form action="{% url 'search_results' %}" method="get">
  <select name="type">
    <option value="O">Office</option>
    <option value="H">Hall</option>
    <option value="M">Meeting Room</option>
  </select>
  <button type="submit">Filter</button>
</form>
{% if user.is_superuser %}
<a href="{% url 'your_spaces' %}">Control Spaces</a><br/>
<a href="{% url 'spaces_create' %}">Add a Space</a><br/><br/>
{% endif %}
{% for space in spaces %}
  <a href="{% url 'detail' space.id %}">
    <div>
      <div>
        <div>
            <h1>{{ space.name }}</h1>
            <h4>{{ space.capacity }}</h4>
        </div>
      </div>

    </div>
  </a>
{% endfor %}
{% endblock %}
