{% extends 'base.html' %}
{% block content %}
<div class="booking-history-body">
  <h1 class="booking-history-h1">Your Booking History</h1>
  <div class="booking-history-wrapper">
    {% for book in booking %}
    {% if book.end >= current_time %}
        <section class="booking-history-cards">
          <span class="accent accent-blue" aria-hidden="true"></span>
          <div class="booking-history-cards-content">
            <a href="{% url 'booking_detail' book.id %}" class="booking-history-item">
              <h2 class="booking-history-cards-title">Available | {{ book }}</h2>
            </a>
            <p class="booking-history-cards-subtitle">{{book.end}}</p>
          </div>
        </section>
      {% else %}
      <section class="booking-history-cards-disabled">
          <span class="accent accent-blue" aria-hidden="true"></span>
          <div class="booking-history-cards-content">
            <a href="#" class="booking-history-item-disabled">
              <h2 class="booking-history-cards-title">Expire | {{ book }}</h2>
            </a>
            <p class="booking-history-cards-subtitle">{{book.end}}</p>
          </div>
        </section>
    {% endif %}
{% endfor %}
</div>
{% endblock %}
