{% extends "base.html" %}
{% block content %}
<div class="container">
  <h2>Profile for {{user.username}}</h2>

  {% for profile in profiles %}
    {% if profile.name and profile.email %}
      <p>Full Name: {{profile.name}}</p>
      <p>Email: {{profile.email}}</p>
    {% else %}
      <p>Full Name: Empty </p>
      <p>Email: Empty</p>
    {% endif %}
    <p>Gender: {{profile.get_gender_display}}</p>

    <a href="{% url 'update_profile' profile.id %}">Update Your Profile</a>
  {% endfor %}
</div>
{% endblock %}
